@import "variables/default.var.module";
@import "mixins/devices.mix.module";

.inputField {
  border: none;
  border-radius: 0.25rem;
  margin: $default_margin;
  padding: 14px;
  background: $dark-background;
}

.button {
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-family: $default_font;
  font-size: 1.06rem;
  padding: 12px;
  transition: 1s;

  &.primary {
    background-color: $primary;
  }

  &.success {
    background-color: $green;
  }

  &.info {
    background-color: $purple;
  }

  &.isLoading {
    transition: 1s;
    background-color: $dark-card-background;
  }
}

.loginForm {
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;

  @include laptop{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
  }

  button {
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    margin-top: 16px;
    width: 25%;
  }

  input {
    width: 80%;
  }
}

.loginCard {
  background: $dark-card-background;
  padding: 60px 0 60px 0;
  flex-direction: column;
  display: flex;
  align-items: center;

  @include laptop{
    width: 600px;
    border-radius: 30px;
  }
}

.errorText {
  position: relative;
  background: $danger;
  padding: 16px;
  font-family: $default_font;
  border-radius: 30px;
  font-size: 0.8rem;
  margin: 8px;
}
