/* variables.module.scss */
$primary: #e13f32;
$primary-light: rgba(225, 63, 50, 0.5);
$dark-background: #0b0b0d;
$light-background: #fafafa;
$purple: #6665fe;
$danger: #e13f32;
$green: #34cc67;
$yellow: #ffcc33;
$dark-card-background: #18191b;
$light-card-background: #ebebeb;
$gray-color: #818181;

:export {
  primaryColor: $primary;
}

$defaut_padding: 0.25rem;
$default_margin: 1rem;
$default_font: 'Work Sans';
